<section id="landing">
  <img src="assets/img/rocket.svg" alt="">
  <div class="content">
    <h1>Your Life Matters</h1>
    <p>A REASON TO LIVE is a platform where people across 
      the globe come together to help one another tackle life’s struggles via
       leaving cute ENotes sharing their reasons to live 
    </p>
    <a href="#HowItWorks">Learn More</a>
  </div>
</section>

<section id="HowItWorks">
  <div class="background">
    <img src="assets/img/bg.svg">
    <!-- <img class="upper" src="assets/img/upperWave.svg" alt="">
    <div class="rectangle1"></div>
    <div class="rectangle2"></div>
    <img class="lower" src="assets/img/lowerWave.svg" alt=""> -->
  </div>
  <h2>How It Works</h2>
  <div class="content">
    <div class="text">
      <h3>You're Not Feeling Good ?</h3>
      <p>Browse through people’s reasons to keep going with <br> their life
      and find a reasons to keep living.</p>
      <a href="/reasons/#ReadReasons">Get Help</a>
    </div>
    <div class="image">
      <img src="assets/img/getHelp.svg" alt="">
    </div>
  </div>
  <div class="content second">
    <div class="text">
      <h3>Want To Help Others ?</h3>
      <p>Share love and positivity with the world through our
         platform by adding your reason to keep going </p>
      <a href="/reasons/#AddReason">Help People</a>
    </div>
    <div class="image">
      <img src="assets/img/help.svg" alt="">
    </div>
  </div>
</section>

<app-footer></app-footer>